<div class="herocontainer" style="@Styles">
    
    <MudContainer MaxWidth="MaxWidth.Medium" Style="@(HalfWidth ? "padding-top: 3vh;" : "padding-top:7vh;")">
        @if (HalfWidth == false)
        {
            <HeroText Text="Check Availabilty immediately"></HeroText>
        }
        <MudPaper Class="mt-6" Elevation="3">
            
            <div class="px-4 pb-3">
                <HeroBookingbar></HeroBookingbar>
            </div>

            

        </MudPaper>

    </MudContainer>
</div>

@code{
    Range<int> Price = new Range<int>(1000, 10000);
    int Bedroom = 0;
    int bathrooms = 0;
    int parking = 0;
    bool? petfriendly = null;
    bool? inComplex = null;
    bool? wifi = null;

    [Parameter]
    public bool HalfWidth { get; set; } = false;

    string Styles => HalfWidth ? "height:35vh;max-height:65vh;" : "height:70vh;max-height: 90vh;";

    string YesNoDontCareStringFunc(bool? value)
    {
        if (value.HasValue == false)
        {
            return "Does not matter";
        }
        return value.Value ? "Yes" : "No";
    }

}