<MudPaper Class="pa-16 ma-2" Elevation="3">
<MudStack Row="true">

            <MudImage Align="Align.End" Src="img/Room1.JPG" Width="400" Height="400" Elevation="25" Class="rounded-lg"/>
            
            <MudPaper Elevation="0" Width="65%"> 

                <MudText Align="Align.Center" Typo="Typo.h5" Class="pt-4 pb-4">FAMILY ROOM</MudText>
                <MudDivider />
                <MudText Align="Align.Center" Typo="Typo.subtitle1" Class="pt-4">SLEEPS 3 GUESTS</MudText>
                <MudText Align="Align.Center" Typo="Typo.body1">1 Bedroom, 1 Bathroom</MudText>
                <MudText Align="Align.Start" Typo="Typo.body2" Class="pt-2 pl-10 pr-10">A private room with a combination of modern interiors, a king-size bed and an additional twin bed, a luxurious ensuite bathroom, and generous cupboard space. This room is fitted with contemporary accessories and furniture</MudText>
                <MudText Align="Align.Center" Typo="Typo.subtitle2" Class="pt-6">Monday – Thursday</MudText>
                <MudText Align="Align.Center" Typo="Typo.body2" >R1300 per person per night</MudText>
                <MudText Align="Align.Center" Typo="Typo.subtitle2" Class="pt-4">Friday – Sunday</MudText>
                <MudText Align="Align.Center" Typo="Typo.body2" Class="pb-4">R1600 per person per night</MudText>

                <div style="text-align:center;">
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Medium">Book Now</MudButton>
                </div>

        </MudPaper>
</MudStack>
</MudPaper>